{# <div class="hidden desktop:block grow"></div>
<footer class="hidden desktop:block text-base text-center py-1 px-4 grow-0 shrink-0">
    Stand: 30.1.2023
    | <a class="underline underline-offset-[3px] decoration-dotted hover:decoration-solid" href="https://github.com/schnulller/jacoblenz">Code</a> | 
        <a class="underline underline-offset-[3px] decoration-dotted hover:decoration-solid" href="/datenschutz/">Datenschutz & Impressum</a>
</footer> #}