<footer class="hidden desktop:block fixed bottom-0 text-sm text-center py-1 px-4 grow-0 shrink-0">
    Stand: 30.1.2023
    | <a href="https://github.com/schnulller/jacoblenz">Code</a> | 
        <a href="/datenschutz/">Datenschutz & Impressum</a>
</footer>