<div class="bg-emerald-600 self-stretch grow pt-4 pb-1.5 px-3 flex flex-col">
    <div class="grow">
        <form class="text-lg flex flex-row w-full">
        <input class="px-1.5 italic grow" type="text" placeholder="Suchbegriff..."/>
        <button class="inline-block ml-2 px-2 border border-white text-white">Suche</button>
        </form>
    </div>
    <div class="text-base text-center text-white">
        Stand: 30.1.2023
        | <a class="underline underline-offset-[3px] decoration-dotted hover:decoration-solid" href="https://github.com/schnulller/jacoblenz">Code</a> | 
          <a class="underline underline-offset-[3px] decoration-dotted hover:decoration-solid" href="/datenschutz/">Datenschutz & Impressum</a>
    </div>
</div>