
<div class="pt-28 bg-slate-200">
	<img class="px-12 pb-4 pt-8 bg-slate-50" src="/images/JLA.png" alt="jla-Logo">
	<h1 class="px-3 py-2 text-5xl font-bold bg-slate-50 text-center">
		{{ config.title }}
	</h1>
	<h2 class="pt-2  border-t-gray-200 pb-2 px-3 text-2xl text-white bg-emerald-600">
		{{ config.shortdescription }}
		{# <br> Forschungsstelle zum Schriftsteller Jacob Michael Reinhold Lenz. #}
	</h2>
</div>
