
<header>
	<img class="px-12 pb-4 pt-8" src="/images/JLA.png" alt="jla-Logo">
	<h1 class="px-3 py-2 pb-4 text-5xl font-bold text-center">
		{{ config.title }}
	</h1>
	<h2 class="py-2 border-t-gray-200 px-5 text-2xl text-black bg-slate-200 border-l-4 border-slate-600 shadow-sm">
		{{ config.shortdescription }}
		{# <br> Forschungsstelle zum Schriftsteller Jacob Michael Reinhold Lenz. #}
	</h2>
</header>
