{# <div class="hidden desktop:flex flex-col">
    <div class="grow">
        <div class="bg-slate-50 border-t border-slate-600 py-5 px-4">
            <form class="flex flex-row w-full">
            <input class="px-1.5 italic border border-slate-600 grow" type="text" placeholder="Suchbegriff..."/>
            <button class="inline-block ml-2 px-2 border border-slate-600 ">Suche</button>
            </form>
        </div>
    </div>
</div> #}