<div class="hidden desktop:block">
    <div class="bg-slate-50 border-t border-lenz-11-blue py-5 px-4">
        <form class="flex flex-row w-full">
        <input class="px-1.5 italic border border-lenz-11-blue grow" type="text" placeholder="Suchbegriff..."/>
        <button class="inline-block ml-2 px-2 border border-lenz-11-blue ">Suche</button>
        </form>
    </div>
</div>