---
title: Biographische Landkarten
description: Karten und Orte zu Leben und Werk von Jacob Michael Reinhold Lenz
eleventyNavigation:
  key: Biographische Landkarten
  parent: Überblick zu Leben und Werk
  order: 1
---

<div class="maincolumn">
  <h3>Lebensstationen</h3>

  <div class="image-with-legend mt-4 mb-8">
    <a href="/static/chronik/karte.png">
      <img class="contrast-125 drop-shadow-md mb-4 map-img" src="/static/chronik/karte.png">
    </a>
    <div class="legende sm:flex sm:flex-row">
      <table class="font-bold basis-1/2 shrink-0 grow-0 ">
        <tr class="text-[#046600]"><td>1751–71</td><td>Kindheit in Livland und Studium in Königsberg</td></tr>
        <tr class="text-[#360398]"><td>1771–75</td><td>Reise nach und Aufenthalt im Elsass</td></tr>
        <tr class="text-[#6bb26e]"><td>1776</td><td>Reise nach und Aufenthalt in Weimar</td></tr>
        <tr class="text-[#ff0036]"><td>1777</td><td>Schweizer Reise</td></tr>
        <tr class="text-[#54c3cd]"><td>1778/79</td><td>Aufenthalt im Steintal, Emmendingen, Weisweil, Hertingen</td></tr>
        <tr class="text-[#cb6636]"><td>1779/80</td><td>Reise nach und Aufenthalt in Livland</td></tr>
        <tr class="text-[#cb9700]"><td>1780–92</td><td>Aufenthalt in Livland/Russland</td></tr>
      </table>

      <div class="credits basis-1/2 shrink-0 grow mt-4 sm:mt-0 sm:px-2.5">
        <p>Drawn by G. G. and J. Robinson of Paternoster Row, London, for Clement Cruttwell's 1799 Atlas to Cruttwell's Gazetteer <br><a href="https://commons.wikimedia.org/wiki/File:1799_Clement_Cruttwell_Map_of_Europe_-_Geographicus_-_Europe-cruttwell-1799.jpg">&rarr; Wikimedia Commons</a>

        <p><br>Die Orte sind der Übersicht halber geographisch ungenau verzeichnet, sie sind aber durch Angabe der heutigen Schreibweise leicht exakt lokalisierbar. Eine größere Schriftgröße indiziert in der Regel längeren Aufenthalt, eine kleinere kürzeren. Die Auswahl der verzeichneten Orte beschränkt sich auf die wichtigsten, nachweisbaren Aufenthalte.
      </div>
    </div>
  </div>

  <div class="map-grid mt-8 map-grid-custom">
    <figure class="map-card hover-hint map-a">
      <a href="/static/biographische_landkarte/karte-1-wendensche-kreis-seswegen-hover.jpg">
        <img class="contrast-125 drop-shadow-md hover-swap map-img" src="/static/biographische_landkarte/karte-1-wendensche-kreis-seswegen.jpg" data-hover="/static/biographische_landkarte/karte-1-wendensche-kreis-seswegen-hover.jpg" alt="Karte 1">
      </a>
      <figcaption class="map-caption">Seswegen (Cesvaine), 90 km südöstlich von Wenden (Cēsis); hier wuchs Lenz von 1751 bis 1759 auf.</figcaption>
    </figure>

    <figure class="map-card hover-hint map-b">
      <a href="/static/biographische_landkarte/karte-2-pernausche-kreis-tarwast-hover.jpg">
        <img class="contrast-125 drop-shadow-md hover-swap map-img" src="/static/biographische_landkarte/karte-2-pernausche-kreis-tarwast.jpg" data-hover="/static/biographische_landkarte/karte-2-pernausche-kreis-tarwast-hover.jpg" alt="Karte 2">
      </a>
      <figcaption class="map-caption">Tarvastu (Tarwast) am Võrtsjärv-See; hier verbrachte Lenz bei seinem Bruder Friedrich David in den Jahren 1767 bis 1768 Zeit.</figcaption>
    </figure>

    <figure class="map-card hover-hint map-c">
      <a href="/static/biographische_landkarte/karte-3-lenz-dorptscher-kreis-forbushof-ringen-aja-rapin-hover.jpg">
        <img class="contrast-125 drop-shadow-md hover-swap map-img" src="/static/biographische_landkarte/karte-3-lenz-dorptscher-kreis-forbushof-ringen-aja-rapin.jpg" data-hover="/static/biographische_landkarte/karte-3-lenz-dorptscher-kreis-forbushof-ringen-aja-rapin-hover.jpg" alt="Karte 3">
      </a>
      <figcaption class="map-caption">Dorpat (Tartu) <span class="text-[#ff0036]">(1)</span>, hier ging Lenz zur Schule; die Familie war 1759 hierher gekommen; Lenz zog 1768 zum Studium nach Königsberg (Kaliningrad). Nordwestlich von Dorpat liegt Forbushof (Vorbuse) <span class="text-[#ff0036]">(2)</span>, hier verliebte sich Lenz 1780 in Julie von Albedyll; südöstlich auf Aya (Ahja) <span class="text-[#ff0036]">(3)</span> war Lenz im Jahr 1780 für kurze Zeit Hofmeister.</figcaption>
    </figure>

    <figure class="map-card hover-hint map-d">
      <a href="/static/biographische_landkarte/karte-4-rigasche-kreis-allasch-hover.jpg">
        <img class="contrast-125 drop-shadow-md hover-swap map-img" src="/static/biographische_landkarte/karte-4-rigasche-kreis-allasch.jpg" data-hover="/static/biographische_landkarte/karte-4-rigasche-kreis-allasch-hover.jpg" alt="Karte 4">
      </a>
      <figcaption class="map-caption">Allasch (Allazi), 50 km südöstlich von Riga; hier war Lenz 1779 für kurze Zeit Hofmeister.</figcaption>
    </figure>

    <figure class="map-card hover-hint map-e">
      <a href="/static/biographische_landkarte/karte-5-wolmarsche-kreis-ohlershof-hover.jpg">
        <img class="contrast-125 drop-shadow-md hover-swap map-img" src="/static/biographische_landkarte/karte-5-wolmarsche-kreis-ohlershof.jpg" data-hover="/static/biographische_landkarte/karte-5-wolmarsche-kreis-ohlershof-hover.jpg" alt="Karte 5">
      </a>
      <figcaption class="map-caption">Ohlershof (Oleri) bei Wolmar (Valmiera); hier war Lenz im Jahr 1780 für kurze Zeit Hofmeister.</figcaption>
    </figure>
  </div>

  <div class="map-source">
    <p>Karten: <i>Atlas von Liefland, oder von den beyden Gouvernementern u. Herzogthümern Lief- und Ehstland, und der Provinz Oesel: entworfen nach geometrischen Vermessungen, den neusten astronomischen Beobachtungen und nach sorgfaeltiger Untersuchung und Kentnis der Gegenden: das Ganze besteht aus einer Generalkarte und vierzehn Kreiskarten.</i> Riga: Johann Friedrich Hartknoch, [1798].</p>
  </div>
</div>
