---
title: Chronik
description: Chronik von Jacob Michael Reinhold Lenz 
eleventyNavigation:
  key: Chronik
  order: 2
---
<div class="maincolumn"> <p><br>Überblick zu Leben und Werk
<p><br>1751

<p>Am 23. Januar (12. Januar nach dem Kalender alten Stils) wird Jacob Michael Reinhold Lenz im livländischen Seßwegen (Casvaine) als Sohn des Pastors und späteren Generalsuperintendenten von Livland Christian David und der Pastorentocher Dorothea Lenz (geb. Neoknapp) geboren.

<p><br>1759

<p>Übersiedlung der Familie nach Dorpat (Tartu).

<p><br>1766

<p>Erste Veröffentlichung: „Der Versöhnungstod Jesu Christi“ erscheint in den „Gelehrten Beyträgen zu den Rigischen Anzeigen“.

<p><br>1768

<p>Im Herbst Beginn eines Theologiestudiums an der Universität Königsberg.

<p><br>1769

<p>Erste Buchpublikation: „Die Landplagen“.

<p><br>1771

<p>Abbruch des Studiums in Königsberg und Reise nach Straßburg als Begleiter in Diensten der beiden kurländischen Barone von Kleist. In Straßburg erste Bekanntschaft mit Goethe und enger Kontakt zu Johann Daniel Salzmann und den Mitgliedern der „Société de philosophie et de belles lettres“.

<p><br>1772

<p>Längere Aufenthalte in den Garnisonen Fort Louis, von wo aus Lenz Friederike Brion in Sesenheim besucht, und Landau (Pfalz).

<p><br>1773

<p>Rückkehr nach Straßburg. Wie in der gesamten Straßburger Zeit intensive Beschäftigung mit ästhetischen und moralphilosophisch-theologischen Fragen und ausgedehnte literarische Produktion.

<p><br>1774

<p>„Lustspiele nach dem Plautus“, „Der Hofmeister“, „Der neue Menoza“ und „Anmerkungen übers Theater“ erscheinen. Besuch Lavaters in Straßburg. Nach der Trennung von den Kleists seit Herbst 1774 Broterwerb durch Unterricht.

<p><br>1775

<p>„Meynungen eines Layen“, „Menalk und Mopsus“ und „Eloge de feu Monsieur **nd“ sowie Beiträge in der „Iris“ und den „Frankfurter gelehrten Anzeigen“ erscheinen. Mitwirkung an der Gründung der „Deutschen Gesellschaft“ in Straßburg. Im Sommer Treffen mit Goethe in Straßburg und gemeinsamer Besuch bei Cornelia und Johann Georg Schlosser in Emmendingen.

<p><br>1776

<p>„Die Soldaten“, „Die Freunde machen den Philosophen“, „Petrarch“, „Flüchtige Aufsäzze“, „Vertheidigung des Herrn W. gegen die Wolken“ sowie Beiträge im „Musenalmanach“, in der „Iris“, im „Teutschen Merkur“ und im „Deutschen Museum“ erscheinen. Von April bis November in Weimar; zeitweiliger Aufenthalt in Berka und bei Charlotte von Stein in Kochberg. Anfang Dezember auf Goethes Veranlassung aus Weimar ausgewiesen.

<p><br>1777

<p>„Der Engländer“ sowie Beiträge im „Musenalmanach“, im „Teutschen Merkur“ und im „Deutschen Museum“ erscheinen. Aufnahme bei Schlosser in Emmendingen. Reisen durch die Schweiz (u. a. Basel, Zürich, Winterthur, Schinznach, St. Gotthard); enger Kontakt vor allem zu Lavater, Jacob Sarasin und Christoph Kaufmann. Im November Anzeichen einer psychischen Erkrankung, die sich mit wechselnden Krisen- und Erholungsphasen bis zum Lebensende fortsetzt.

<p><br>1778

<p>Einige Gedichte erscheinen im Vossischen „Musenalmanach“; anschließend nur noch vergleichsweise wenige Veröffentlichungen in Zeitschriften. Vom 20. Januar bis 8. Februar Aufenthalt bei Johann Friedrich Oberlin in Waldersbach im elsässischen Steintal; Verschärfung der psychischen Leiden. Anschließend wieder bei Schlosser in Emmendingen; Unterbringung zunächst bei einem Schumacher, dann bei einem Förster in Weisweil.

<p><br>1779

<p>Aufenthalt bei einem Arzt in Hertingen, wo sein jüngerer Bruder Carl ihn im Juni abholt und mit ihm nach Riga zurückkehrt. Versuche, dort eine Anstellung zu finden, scheitern.

<p><br>1780

<p>„Philosophische Vorlesungen für empfindsame Seelen“ erscheinen. Von Februar bis September in St. Petersburg, um dort eine Stellung zu suchen. Anschließend als Hofmeister auf einem Gut in der Nähe von Dorpat.

<p><br>1781

<p>1781/82 Beiträge zu den beiden in Mitau erscheinenden Zeitschriften „Für Leser und Leserinnen“ und „Liefländisches Magazin der Lektüre“. Vom Februar bis zum Sommer nochmaliger Aufenthalt in St. Petersburg, von wo aus Lenz nach Moskau reist und Aufnahme im Haus des Historikers Gerhard Friedrich Müller findet. – Über Lenz’ Jahre in Moskau ist bislang wenig bekannt. Seinen Lebensunterhalt verdient er mit Unterricht, gelegentlich unterstützt durch russische Gönner. Er unterhält Kontakte zu Moskauer Freimaurerzirkeln und Schriftstellern, arbeitet an verschiedenen Reformprojekten (besonders zum russischen Erziehungswesen) und übersetzt aus dem Russischen.

<p><br>1787

<p>Übersetzung von Pleschtschejews „Übersicht des Russischen Reichs“ erscheint.

<p><br>1792

<p>Lenz stirbt am 3. oder 4. Juni (23./24. Mai nach dem Kalender alten Stils) in Moskau.


<p><br>Die Karte soll einen groben Überblick über Lenz’ biographische Stationen geben:

<p><br>1. dunkelgrün: Kindheit in Livland und Studium (1751–1771)
<p>2. lila: Reise nach und Aufenthalt im Elsass (1771–1775)
<p>3. hellgrün: Reise nach und Aufenthalt in Weimar (1776)
<p>4. rot: Schweizer Reise (1777)
<p>5. türkis: Aufenthalt im Steintal, Hertingen und Reise nach Livland (1778/1779)
<p>6. orange: Reise nach und Aufenthalt in Livland (1779/1780)
<p>7. braun: Aufenthalt in Livland/Russland (1780–1792)

<p><br>Die Orte sind der Übersicht halber geographisch ungenau verzeichnet, sie sind aber durch Angabe der heutigen Schreibweise leicht exakt lokalisierbar. Eine größere Schriftgröße indiziert in der Regel längeren Aufenthalt, eine kleinere kürzeren. Die Auswahl der verzeichneten Orte beschränkt sich auf die wichtigsten, nachweisbaren Aufenthalte.

<p><br>Karte: Drawn by G. G. and J. Robinson of Paternoster Row, London, for Clement Cruttwell's 1799 Atlas to Cruttwell's Gazetteer (Wikimedia Commons: https://commons.wikimedia.org/wiki/File:1799_Clement_Cruttwell_Map_of_Europe_-_Geographicus_-_Europe-cruttwell-1799.jpg)


</div>