---
title: Lebensdaten von J.M.R. Lenz
description: Die wichtigsten Daten im Leben des Dichters Jacob Michael Reinhold Lenz werden hier aufgelistet.
eleventyNavigation:
  key: Chronik
  order: 2
---
Das ist die Chronik!