---
title: Überblick zu Leben und Werk
description: Überblick zu Leben und Werk von Jacob Michael Reinhold Lenz 
eleventyNavigation:
  key: Überblick zu Leben und Werk
  order: 2
---
<div class="maincolumn">

    <img src="/static/chronik/porträt chronik.jpg"  height="180" width="280" border="2" align="right"  hspace="10" vspace="00">

    <div class="timeline">
            <div class="time">1751</div>
            <div class="entry">Am 23. Januar (12. Januar nach dem Kalender alten Stils) wird Jacob Michael Reinhold Lenz im livländischen Seßwegen (Casvaine) als Sohn des Pastors und späteren Generalsuperintendenten von Livland Christian David und der Pastorentocher Dorothea Lenz (geb. Neoknapp) geboren.</div>
            <div class="time">1759</div>
            <div class="entry">Übersiedlung der Familie nach Dorpat (Tartu).</div>
            <div class="time">1766</div>
            <div class="entry">Erste Veröffentlichung: „Der Versöhnungstod Jesu Christi“ erscheint in den „Gelehrten Beyträgen zu den Rigischen Anzeigen“.</div>
            <div class="time">1768</div>
            <div class="entry">Im Herbst Beginn eines Theologiestudiums an der Universität Königsberg.</div>
            <div class="time">1769</div>
            <div class="entry">Erste Buchpublikation: „Die Landplagen“.</div>
            <div class="time">1771</div>
            <div class="entry">Abbruch des Studiums in Königsberg und Reise nach Straßburg als Begleiter in Diensten der beiden kurländischen Barone von Kleist. In Straßburg erste Bekanntschaft mit Goethe und enger Kontakt zu Johann Daniel Salzmann und den Mitgliedern der „Société de philosophie et de belles lettres“.</div>
            <div class="time">1772</div>
            <div class="entry">Längere Aufenthalte in den Garnisonen Fort Louis, von wo aus Lenz Friederike Brion in Sesenheim besucht, und Landau (Pfalz).</div>
            <div class="time">1773</div>
            <div class="entry">Rückkehr nach Straßburg. Wie in der gesamten Straßburger Zeit intensive Beschäftigung mit ästhetischen und moralphilosophisch-theologischen Fragen und ausgedehnte literarische Produktion.</div>
            <div class="time">1774</div>
            <div class="entry">„Lustspiele nach dem Plautus“, „Der Hofmeister“, „Der neue Menoza“ und „Anmerkungen übers Theater“ erscheinen. Besuch Lavaters in Straßburg. Nach der Trennung von den Kleists seit Herbst 1774 Broterwerb durch Unterricht.</div>
            <div class="time">1775</div>
            <div class="entry">„Meynungen eines Layen“, „Menalk und Mopsus“ und „Eloge de feu Monsieur **nd“ sowie Beiträge in der „Iris“ und den „Frankfurter gelehrten Anzeigen“ erscheinen. Mitwirkung an der Gründung der „Deutschen Gesellschaft“ in Straßburg. Im Sommer Treffen mit Goethe in Straßburg und gemeinsamer Besuch bei Cornelia und Johann Georg Schlosser in Emmendingen.</div>
            <div class="time">1776</div>
            <div class="entry">„Die Soldaten“, „Die Freunde machen den Philosophen“, „Petrarch“, „Flüchtige Aufsäzze“, „Vertheidigung des Herrn W. gegen die Wolken“ sowie Beiträge im „Musenalmanach“, in der „Iris“, im „Teutschen Merkur“ und im „Deutschen Museum“ erscheinen. Von April bis November in Weimar; zeitweiliger Aufenthalt in Berka und bei Charlotte von Stein in Kochberg. Anfang Dezember auf Goethes Veranlassung aus Weimar ausgewiesen.</div>
            <div class="time">1777</div>
            <div class="entry">„Der Engländer“ sowie Beiträge im „Musenalmanach“, im „Teutschen Merkur“ und im „Deutschen Museum“ erscheinen. Aufnahme bei Schlosser in Emmendingen. Reisen durch die Schweiz (u. a. Basel, Zürich, Winterthur, Schinznach, St. Gotthard); enger Kontakt vor allem zu Lavater, Jacob Sarasin und Christoph Kaufmann. Im November Anzeichen einer psychischen Erkrankung, die sich mit wechselnden Krisen- und Erholungsphasen bis zum Lebensende fortsetzt.</div>
            <div class="time">1778</div>
            <div class="entry">Einige Gedichte erscheinen im Vossischen „Musenalmanach“; anschließend nur noch vergleichsweise wenige Veröffentlichungen in Zeitschriften. Vom 20. Januar bis 8. Februar Aufenthalt bei Johann Friedrich Oberlin in Waldersbach im elsässischen Steintal; Verschärfung der psychischen Leiden. Anschließend wieder bei Schlosser in Emmendingen; Unterbringung zunächst bei einem Schumacher, dann bei einem Förster in Weisweil.</div>
            <div class="time">1779</div>
            <div class="entry">Aufenthalt bei einem Arzt in Hertingen, wo sein jüngerer Bruder Carl ihn im Juni abholt und mit ihm nach Riga zurückkehrt. Versuche, dort eine Anstellung zu finden, scheitern.</div>
            <div class="time">1780</div>
            <div class="entry">„Philosophische Vorlesungen für empfindsame Seelen“ erscheinen. Von Februar bis September in St. Petersburg, um dort eine Stellung zu suchen. Anschließend als Hofmeister auf einem Gut in der Nähe von Dorpat.</div>
            <div class="time">1781</div>
            <div class="entry">1781/82 Beiträge zu den beiden in Mitau erscheinenden Zeitschriften „Für Leser und Leserinnen“ und „Liefländisches Magazin der Lektüre“. Vom Februar bis zum Sommer nochmaliger Aufenthalt in St. Petersburg, von wo aus Lenz nach Moskau reist und Aufnahme im Haus des Historikers Gerhard Friedrich Müller findet. – Über Lenz’ Jahre in Moskau ist bislang wenig bekannt. Seinen Lebensunterhalt verdient er mit Unterricht, gelegentlich unterstützt durch russische Gönner. Er unterhält Kontakte zu Moskauer Freimaurerzirkeln und Schriftstellern, arbeitet an verschiedenen Reformprojekten (besonders zum russischen Erziehungswesen) und übersetzt aus dem Russischen.</div>
            <div class="time">1787</div>
            <div class="entry">Übersetzung von Pleschtschejews „Übersicht des Russischen Reichs“ erscheint.</div>
            <div class="time">1792</div>
            <div class="entry">Lenz stirbt am 3. oder 4. Juni (23./24. Mai nach dem Kalender alten Stils) in Moskau.</div>
    </div>
    
    <div class="maincolumn mt-8"> <h2>Features im Radio</h2> 
         </div>
WDR ZeitZeichen, Der Geburtstag des Dichters Jakob Michael Reinhold Lenz, 12. Januar 2021 <a href="https://www1.wdr.de/radio/wdr5/sendungen/zeitzeichen/lenz-100.html">&rarr; Link</a> 
<p>Bayern 2, Jakob Michael Reinhold Lenz – Die Zeiten ändern sich, 15. Oktober 2019 <a href="https://www.ardaudiothek.de/episode/radiowissen/jakob-michael-reinhold-lenz-die-zeiten-aendern-sich/bayern-2/78752300/">&rarr; Link</a>  

    <div class="maincolumn mt-8"> <h2>Lebensstationen</h2> 
         </div>

    <div class="image-with-legend mt-4 mb-8">
        <a href="/static/chronik/karte.png">
        <img class="contrast-125 drop-shadow-md mb-4" src="/static/chronik/karte.png">
        </a>
        <div class="legende sm:flex sm:flex-row">
            <table class="font-bold basis-1/2 shrink-0 grow-0 ">
                <tr class="text-[#046600]"><td>1751–71</td><td>Kindheit in Livland und Studium in Königsberg</td></tr>
                <tr class="text-[#360398]"><td>1771–75</td><td>Reise nach und Aufenthalt im Elsass</td></tr>
                <tr class="text-[#6bb26e]"><td>1776</td><td>Reise nach und Aufenthalt in Weimar</td></tr>
                <tr class="text-[#ff0036]"><td>1777</td><td>Schweizer Reise</td></tr>
                <tr class="text-[#54c3cd]"><td>1778/79</td><td>Aufenthalt im Steintal, Emmendingen, Weisweil, Hertingen</td></tr>
                <tr class="text-[#cb6636]"><td>1779/80</td><td>Reise nach und Aufenthalt in Livland</td></tr>
                <tr class="text-[#cb9700]"><td>1780–92</td><td>Aufenthalt in Livland/Russland</td></tr>
            </table>

            <div class="credits basis-1/2 shrink-0 grow mt-4 sm:mt-0 sm:px-2.5">
                <p>Drawn by G. G. and J. Robinson of Paternoster Row, London, for Clement Cruttwell's 1799 Atlas to Cruttwell's Gazetteer <br><a href="https://commons.wikimedia.org/wiki/File:1799_Clement_Cruttwell_Map_of_Europe_-_Geographicus_-_Europe-cruttwell-1799.jpg">&rarr; Wikimedia Commons</a>

                <p><br>Die Orte sind der Übersicht halber geographisch ungenau verzeichnet, sie sind aber durch Angabe der heutigen Schreibweise leicht exakt lokalisierbar. Eine größere Schriftgröße indiziert in der Regel längeren Aufenthalt, eine kleinere kürzeren. Die Auswahl der verzeichneten Orte beschränkt sich auf die wichtigsten, nachweisbaren Aufenthalte.
            </div>
        </div>
    </div>
</div>

