---
title: Handschriften
description: Verzeichnis der Handschriften von Jakob Michael Reinhold Lenz
eleventyNavigation:
  key: Handschriften
  parent: Verzeichnisse
  order: 1
  pdf: no
---

<div class="maincolumn">
  
  <img src="/static/index/lenzbrief schlosser hd für handschriften.png"  height="200" width="300" border="2" align="right"  hspace="10" vspace="00">
  <p>Das Verzeichnis der Handschriften verzeichnet sämtliche Lenz-Autographen, alle textkritisch relevanten Abschriften von fremder Hand (wo der Zusammenhang es erfordert auch solche Heterographen ohne textkritischen Wert) sowie die Handschriften der an Lenz gerichteten Briefe. Das Repertorium ist alphabethisch nach den Standorten gegliedert, an denen die Handschriften aufbewahrt werden. Die Nachweise beschränken sich in der Regel auf folgende Angaben:</p>

    <div class="feld">Signatur</div>
    <p>Sind verschiedene Handschriften unter einer Signatur zusammengefaßt, so wird die Signatur zur einfacheren Identifizierung mit entsprechender Blatt- und Seitenangabe jeweils wiederholt; bei umfangreicheren Beständen wird zur Gliederung zusätzlich eine Numerierung [1, 2, 3 …] eingefügt.</p>

    <div class="feld">Titel</div>
    <p>Bei Briefen werden Empfänger bzw. Absender (Br. von/an …) und Datum genannt (bei undatierten Briefen werden in der Regel die Datierungen der Ausgabe von Freye/Stammler übernommen). Bei Werktexten wird der in der Handschrift vorhandene Titel angegeben; fehlt ein solcher, wird dies entsprechend vermerkt – „Titel (ohne)“ –, und es wird der Textanfang mitgeteilt.</p>

    <div class="feld">Incipit</div>
    <p>Zusätzlich zu einem in der Handschrift vorhandenen Titel wird der Textanfang dort gesondert angegeben, wo es zur zweifelsfreien Identifizierung hilfreich ist.</p>

    <div class="feld">Umfang</div>
    <p>Angaben zu Blatt- bzw. Seitenzahl sowie zur Blattgröße (in Zentimetern, Breite x Höhe).</p>

    <div class="feld">Anmerkung</div>
    <p>Im gegeben Fall wird hier auf Besonderheiten der Handschriften hingewiesen.</p>

    <div class="feld">Druck</div>
    <p>Die Angaben zum jeweiligen Druck der Handschriften dienen nur zur leichteren Orientierung, informieren mithin nicht über die Druckgeschichte (Erstdrucke, Teildrucke etc.). Bei den Briefen wird auf die Ausgabe von Freye/Stammler verwiesen (abgekürzt als „FSt“ mit Briefnummer) bzw. auf den jeweiligen Erstdruck für die dort nicht enthaltenen Korrespondenzstücke. Bei den Werken wird auf wechselnde Ausgaben oder Einzeldrucke verwiesen, und zwar nach Möglichkeit auf solche, deren Text auf der jeweils genannten Handschrift beruht (siehe dazu die nachfolgende Liste der abgekürzt zitierten Literatur).</p>
  <h3>Abgekürzt zitierte Literatur</h3>
  <div class="mb-4 literaturliste desktop:columns-2 pr-8">
    <ul>
      <li>
        <b>Babelotzky, Lenz als Prediger:</b> J. M. R. Lenz als Prediger der „weltlichen Theologie“ und des „Naturalismus“. Wechselwirkungen zwischen Prediger und Dichter in Biographie und poetischem Schaffen (Göttingen: Wallstein 2019)</li>
      <li>

      <li>
        <b>Blei 1909/13:</b> Jakob Michael Reinhold Lenz: Gesammelte Schriften. Hrsg. von Franz Blei. 5 Bde. München, Leipzig: Müller 1909-1913
</li>
      <li>
        <b>Cohn 1890:</b> Katalog einer werthvollen Autographen-Sammlung aus dem Besitze der verstorbenen Herren Wendelin von Maltzahn, Hans Reimer und anderer. […] Berlin: Albert Cohn 1890
</li>
      <li>
        <b>Damm 1987:</b> Jakob Michael Reinhold Lenz: Werke und Briefe in drei Bänden. Hrsg. von Sigrid Damm. Leipzig: Insel 1987
</li>
      <li>
        <b>Düntzer 1856:</b> Aus Herders Nachlaß. Hrsg. von Heinrich Düntzer und Ferdinand Gottfried von Herder. Bd. 1: Goethe. Schiller. Klopstock. Lenz. Jean Paul. Claudius. Frankfurt/Main: Medinger Sohn und Comp. 1856
</li>
      <li>
        <b>Freye 1911:</b> Sturm und Drang. Dichtungen aus der Geniezeit. In vier Teilen. Hrsg., mit Einleitung und Anmerkungen versehen von Karl Freye. Mit 6 Beilagen in Kunstdruck und zahlreichen Vignetten. Tl. 2: Lenz – Wagner. Berlin, Leipzig, Wien, Stuttgart: Bong [1911]
</li>
      <li>
        <b>FSt:</b> Briefe von und an J. M. R. Lenz. Gesammelt und hrsg. von Karl Freye und Wolfgang Stammler. 2 Bde. Leipzig: Wolff 1918
</li>
      <li>
        <b>Kraft:</b> J. M. R. Lenz. Biographie = Herbert Kraft, J. M. R. Lenz. Biographie (Göttingen: Wallstein 2015)</li>
      <li>
        <b>Lenz im Urteil:</b> Jakob Michael Reinhold Lenz im Urteil dreier Jahrhunderte. Texte der Rezeption von Werk und Persönlichkeit. 18.-20. Jahrhundert. Gesammelt und hrsg. von Peter Müller unter Mitarbeit von Jürgen Stötzer, 4 Bde., (Bern [u. a.]: Lang 1995–2005)</li>
      <li>
        <b>Rosanow 1909:</b> M. N. Rosanow: Jakob M. R. Lenz, der Dichter der Sturm- und Drangperiode. Sein Leben und seine Werke. Vom Verfasser autorisierte und durchgesehene Uebersetzung. Deutsch von C. von Gütschow. Leipzig: Schulze & Co. 1909
</li>
      <li>
        <b>Schriften zur Sozialreform:</b> Elystan Griffiths und David Hill unter Mitwirkung von Heribert Tommek (Hrsg.), Jacob Michael Reinhold Lenz: Schriften zur Sozialreform. Das Berkaer Projekt, 2 Bde. (Frankfurt am Main, Berlin u. a. 2007)</li>
      <li>
        <b>Schmidt, Lenziana:</b> Schmidt, Erich: Lenziana. In: Sitzungsberichte der Königlich Preußischen Akademie der Wissenschaften zu Berlin, Jg. 1901, 41. Stück: Gesammtsitzung, 24. October, S. 979-1017.</li>
      <li>
        <b>Stöber 1874:</b> Johann Gottfried Röderer, von Straßburg, und seine Freunde. Biographische Mittheilungen nebst Briefen an ihn von Goethe, Kayser, Schlosser, Lavater, Pfenninger, Ewald, Haffner und Blessig. Hrsg. von August Stöber. Zweite Auflage. Mit einem Nachtrag von Briefen an Röderer und Lenz, sowie mit Aufsätzen des Letztern vermehrt. (Für Nichtbesitzer der Alsatia von 1873.) Colmar: Barth 1874
</li>
      <li>
        <b>Tieck 1828:</b> Gesammelte Schriften, von J. M. R. Lenz. Hrsg. von Ludwig Tieck. 3 Bde. Berlin: Reimer 1828
</li>
      <li>
        <b>Titel/Haug 1966/67:</b> Jakob Michael Reinhold Lenz: Werke und Schriften. Hrsg. von Britta Titel und Hellmut Haug. 2 Bde. Stuttgart: Goverts 1966-1967 (Neue Bibliothek der Weltliteratur)
</li>
      <li>
        <b>Von der Hellen 1892:</b> Das Journal von Tiefurt. Mit einer Einleitung von Bernhard Suphan hrsg. von Eduard von der Hellen. Weimar: Verlag der Goethe-Gesellschaft 1892 (Schriften der Goethe-Gesellschaft, Bd. 7)
</li>
      <li>
        <b>Vonhoff 1990:</b> Gert Vonhoff: Subjektkonstitution in der Lyrik von J. M. R. Lenz. Mit einer Auswahl neu herausgegebener Gedichte. Frankfurt/Main [u. a.]: Lang 1990 (Historisch-kritische Arbeiten zur deutschen Literatur, Bd. 9)
</li>
      <li>
        <b>Weinhold 1884:</b> Dramatischer Nachlass von J. M. R. Lenz. Zum ersten Male hrsg. und eingeleitet von Karl Weinhold. Frankfurt/Main: Literarische Anstalt, Rütten & Loening 1884
</li>
      <li>
        <b>Weinhold 1891:</b> Gedichte von J. M. R. Lenz. Mit Benutzung des Nachlaßes Wendelins von Maltzahn hrsg. von Karl Weinhold. Berlin: Hertz 1891
</li>
    </ul>
  </div>
</div>

<div class="z-10 bg-slate-100 px-4 py-2 self-start w-full">
  {% set jahr = "" %}
  {% set count = 1 %}
  Handschrift(en) in:&emsp;
  {%- for post in collections.handschriften -%}
    <a class="underline decoration-dotted whitespace-nowrap" href="#{{ post.data.Ort }}">{{ post.data.Ort }}</a>&emsp;
  {%- endfor -%}
</div>

<div class="searchbar">
  <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
  <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
  <div class="hideifsearching">
        Ort&nbsp;
        <select onchange="window.location.href=this.value" id="listselect">
      {% set ort = "" %}
      {% set count = 0 %}
      <option class="font-bold" value="#top">↑&nbsp;Übersicht</option>
      {%- for post in collections.handschriften -%}
        {% if count % 1 == 0 and ort !== post.data.Short %}
          <option value="#{{ post.data.Ort }}">{{ post.data.Short }}</option>
          {% set ort = post.data.Short %}
        {% endif %}
        {% set count = count + 1 %}
      {%- endfor -%}
    </select>
  </div>
  <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  {%- for post in collections.handschriften -%}
    <div class="category handschrift-sammlung !bg-slate-100 !py-5 !mb-12" id="{{ post.data.Ort | safe }}">
      <div class="text-xl basis-1/5 font-bold self-start z-0 sticky top-14 pr-3 pl-3">{{ post.data.Ort | safe }}</div>
      <div class=" basis-4/5 flex flex-col sm:flex-row flex-wrap gap-x-4 gap-y-5 justify-start">{{ post.content | safe }}</div>
    </div>
  {%- endfor -%}
</div>
</div>
</div>