---
title: Über das Archiv
description: Die Seite des Heidelberger Archivs bietet eine Forschungsbibliographie, sowie die Verzeichnung sämtlicher Handschriften und Drucke im Kontext des Werkes des Dichters Jacob Michael Reinhold Lenz.
layout: base
eleventyNavigation:
  key: Archiv und Forschungsstelle
---

<div class="maincolumn">


<p>Die folgenden Seiten sind dem Sturm-und-Drang-Dichter Jacob Michael Reinhold Lenz (1751-1792) gewidmet. Im Laufe der Zeit sollen hier Nachlassmaterial und Forschungsliteratur an einem Ort versammelt werden. Sein Nachlass liegt auf 25 Standorte in ganz Europa verteilt.<br>

<p><br>Das Lenz Archiv Heidelberg knüpft an die Arbeit der Mannheimer Forschungsstelle (geleitet von Christoph Weiß in den Jahren 2000 bis 2006) an. Das Archiv begreift die umfassende wissenschaftliche Erschließung der Werke und der Biographie von Lenz als seine Aufgabe. Damit erhält die Grundlagenforschung einen physischen und – mit der Website – einen virtuellen Ort, um die Nachlassmaterialien möglichst vollständig zu erfassen, zu bewahren und zu erschließen. 


</div>
