---
title: Über das Archiv
description: Handschriften- und Druckverzeichnis, Forschungsbibliographie, Jakob Michael Reinhold Lenz
layout: base
eleventyNavigation:
  key: Über das Archiv
---

<div class="maincolumn">
<img src="/static/index/bild startseite archiv 1.jpg"  height="150" width="250" border="2" align="left" hspace="20" vspace="00">
<p>Das Jakob Lenz Archiv Heidelberg versammelt das Nachlassmaterial des Stürmer und Drängers Jakob (Jacob) Michael Reinhold Lenz (1751–92) sowie die zu ihm erschienene Forschungsliteratur. 
  
  <p>Lenz’ Nachlass liegt auf zahlreiche Standorte verteilt; ein Handschriftenverzeichnis gibt hierüber detailliert Auskunft. Zudem sind die selbstständigen und unselbstständigen Drucke zu Lebzeiten mitsamt Faksimile verzeichnet. Das Verzeichnis der posthumen Ausgaben, die Forschungsbibliographie und die Aufstellung der Theateraufführungen ab 1950 geben einen Einblick in die Resonanz, die das Lenzsche Werk hervorgerufen hat und immer noch hervorbringt.</p>
<p>Das Archiv knüpft an die langjährige Arbeit der Mannheimer Forschungsstelle unter Christoph Weiß an, um die umfassende wissenschaftliche Erschließung der Werke und der Biographie von Lenz weiter voran zu bringen. Die Grundlagenforschung zu Lenz erhält mit dem Archiv einen physischen und zudem mit dieser Website einen virtuellen Ort, um die Nachlass- und Forschungsmaterialien möglichst vollständig zu erschließen und zu bewahren. 

</div>
