---
title: Über das Archiv
description: Handschriften- und Druckverzeichnis, Forschungsbibliographie, Jakob Michael Reinhold Lenz
layout: base
eleventyNavigation:
  key: Über das Archiv
---

<div class="maincolumn">

<p>Das Jakob Lenz Archiv Heidelberg versammelt das Nachlassmaterial des Stürmers und Drängers Jakob (Jacob) Michael Reinhold Lenz (1751–92) sowie die zu ihm erschienene Forschungsliteratur. Lenz’ Nachlass liegt auf Standorte in ganz Europa verteilt; ein Handschriftenverzeichnis gibt hierüber detailliert Auskunft. Darüber hinaus sind seine selbständigen und unselbständigen Drucke zu Lebzeiten mitsamt Faksimile verzeichnet. Das Verzeichnis der posthumen Ausgaben, die Forschungsbibliographie und die Aufstellung der Theateraufführungen (ab 1950) geben einen Einblick in die Resonanz, die das Lenzsche Werk hervorgerufen hat und immer noch hervorbringt. 
<p>Das Archiv knüpft an die langjährige Arbeit der Mannheimer Forschungsstelle (geleitet von Christoph Weiß) an, um die umfassende wissenschaftliche Erschließung der Werke und der Biographie von Lenz weiter voran zu bringen. Die Grundlagenforschung zu Lenz soll mit dem Archiv einen physischen und – mit dieser Website – einen virtuellen Ort erhalten, um die Nachlass- und Forschungsmaterialien möglichst vollständig zu erschließen und zu bewahren. 


</div>
