---
title: Kontakt
description: Kontakt, Jacob Michael Reinhold Lenz Archiv Heidelberg
eleventyNavigation:
  key: Kontakt
  order: 3
---
<div class>
<p>Im Laufe der Zeit sollen in der Theodor Springmann Stiftung Heidelberg der gesamte Nachlass als Kopienarchiv sowie die Forschungsliteratur versammelt werden, um Impulse für die wissenschaftliche Beschäftigung mit Lenz zu setzen. Daneben enthält das Archiv auch sonstiges für die Lenz-Forschung relevantes Material wie z.B. verschiedenartige Rezeptionszeugnisse. Indem es allen Interessierten zur wissenschaftlichen Beschäftigung zur Verfügung steht, will das Archiv Lenz’ Werk für die Nachwelt bewahren und für die Gegenwart lebendig halten. Anregungen, Korrekturen und Ergänzungen sind jederzeit willkommen.<br>


<p><br>Dr. Gregor Babelotzky
<p>babelotzky@tss-hd.de
<p>+49 (0) 6221 5 99 68 10

<p><br>Jakob Lenz Archiv 
<p>Theodor Springmann Stiftung
<p>Hirschgasse 2
<p>69120 Heidelberg 
</div>