---
title: Kontakt
description: Kontakt, Jakob Michael Reinhold Lenz Archiv Heidelberg
eleventyNavigation:
  key: Kontakt
  order: 3
---
<div class>
<p>Um Impulse für die wissenschaftliche Beschäftigung mit Lenz zu setzen, versammelt das Jakob Lenz Archiv in Heidelberg den Nachlass (als Kopienarchiv) sowie die Forschungsliteratur. Daneben enthält das Archiv sonstiges für die Lenz-Forschung relevantes Material wie z.B. Rezeptionszeugnisse. Das Archiv steht Interessierten nach Anmeldung zur wissenschaftlichen Forschung zur Verfügung. Anregungen, Korrekturen und Ergänzungen sind jederzeit willkommen.<br>


<p><br>Dr. Gregor Babelotzky
<p>lenz-archiv@tss-hd.de
<p>+49 (0) 6221 5 99 68 10

<p><br>Jakob Lenz Archiv 
<p>Theodor Springmann Stiftung
<p>Hirschgasse 2
<p>69120 Heidelberg 
</div>