---
title: Kontakt
description: Kontakt, Jakob Michael Reinhold Lenz Archiv Heidelberg
eleventyNavigation:
  key: Kontakt
  order: 4
---
<div class>

  <img src="/static/kontakt/bild kontakt.jpg"  height="140" width="240" border="2" align="right" hspace="10" vspace="00">

<p>Um das Lenzsche Werk zu bewahren und Impulse für die wissenschaftliche Beschäftigung zu setzen, versammelt das Jakob Lenz Archiv Heidelberg Nachlasskopien und die Forschungsliteratur. Daneben enthält das Archiv auch sonstiges für die Auseinandersetzung mit Lenz relevantes Material wie z.B. Rezeptionszeugnisse. Das Archiv steht Interessierten nach Anmeldung zur wissenschaftlichen Arbeit zur Verfügung. Anregungen, Korrekturen und Ergänzungen sind jederzeit willkommen.<br>


<p><br><a href="https://www.germanistenverzeichnis.phil.uni-erlangen.de/institutslisten/files/gb/05400_gb/5478_gb.html">&rarr; Dr. Gregor Babelotzky</a>  
<p>lenz-archiv@tss-hd.de
<p>+49 (0) 6221 5 99 68 10

<p><br>Jakob Lenz Archiv 
<p>Theodor Springmann Stiftung
<p>Hirschgasse 2
<p>69120 Heidelberg 
</div>
