---
title: Posthum veröffentlichte Ausgaben und Editionen
description: Überblick über posthum erschienener Werke des Dichters Jacob Michael Reinhold Lenz.
eleventyNavigation:
  key: Posthume Ausgaben
  parent: Verzeichnisse
  order: 4
  pdf: yes
---
<div class="border-black px-4 py-3 mb-4 order-2 hyphenation bg-gray-100 w-full">
    <p class="max-w-[80ch]">Neben den selbständig erschienenen Einzel- und Werkausgaben sind in Auswahl auch Textsammlungen zum Sturm und Drang mit umfangreicheren Lenz-Abteilungen aufgeführt.
</div>

<div class="sticky top-0 z-10 bg-emerald-100 px-4 py-2 mb-4 w-full">
{% set jahr = "" %}
{% set count = 1 %}
<a href="#top">↑</a>&nbsp;&nbsp;|&nbsp;&nbsp;
{%- for post in collections.posthumeausgaben -%}
    {% if post.data.Jahr !== jahr %}
      {% if count % 3 == 0 %}
        <a class="underline decoration-dotted" href="#{{ post.data.Jahr }}">{{ post.data.Jahr }}</a>&nbsp;&nbsp;
      {% endif %}
      {% set jahr = post.data.Jahr %}
      {% set count = count + 1 %}
    {% endif %}
{%- endfor -%}
</div>

<div>
  {% set jahr = "" %}
  {%- for post in collections.posthumeausgaben -%}
    {% if post.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = post.data.Jahr %}
      <div class="flex flex-row mb-8 w-full">
      <div class="text-xl pl-3 pr-1 grow-0 min-w-[4rem] text-right font-bold self-start z-0 sticky top-14 order-2" id="{{ jahr }}">{{ jahr }}</div>
      <div class="px-4 border-r-2 grow border-slate-400">
    {% endif %}
    <div class="mb-3 pl-6 -indent-6 max-w-[90ch]">{{ post.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>