---
title: Forschungsbibliographie
description: Forschungsliteratur zu Leben und Werk von Jakob Michael Reinhold Lenz
eleventyNavigation:
  key: Forschungsbibliographie
  parent: Verzeichnisse
  order: 6
---


<div class="maincolumn">
    <p>Grundlage für das Verzeichnis sind die Lenz-Bibliographien von Wolfgang Stammler (1916), David Price Benseler (1971), Takeshi Imamura (1996), die Bibliographien des Lenz-Jahrbuchs 17, 20, 24, 26 und 28 von Nikola Roßbach, Ariane Martin, Constanze Baum und Paul Whitehead sowie die Bibliographie im Lenz-Handbuch (2017). Einbezogen sind auch die MLA International Bibliography und die Bibliographie der deutschen Sprach- und Literaturwissenschaft. Das Verzeichnis wird laufend weiter ausgebaut und überarbeitet. </p>

    <p>Nur in Auswahl aufgenommen sind Lenz-Artikel in Literaturgeschichten und Lexika, Beiträge zur produktiven Lenz-Rezeption in der Literatur und auf dem (Musik-)Theater sowie Kritiken zu Theateraufführungen von Lenz’ Stücken.</p>

    <p>Hinweise auf neue Lenz-Publikationen werden dankbar aufgenommen; ebenso Ergänzungen und Korrekturen zur älteren Literatur. Die Forschungsbibliothek des Lenz Archivs Heidelberg strebt an, möglichst alle hier verzeichneten Titel in Original oder Kopie zu umfassen.</p>
</div>


<div class="searchbar">
      <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
      <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
      <div class="hideifsearching">
        Jahr&nbsp;
        <select onchange="window.location.href=this.value" id="listselect">
          {% set jahr = "" %}
          {% set currjahr = "" %}
          {% set count = 0 %}
          {%- for entry in collections.sekundaer -%}
            {% if count % 50 == 0 and jahr !== entry.data.Jahr %}
                <option value="#{{ entry.data.Jahr }}">{{ entry.data.Jahr }}</option>
                {% set jahr = entry.data.Jahr %}
            {% endif %}
            {% set count = count + 1 %}
            {% set currjahr = entry.data.Jahr %}
          {%- endfor -%}
          {%- if currjahr !== jahr %}
            <option value="#{{ currjahr }}">{{ currjahr }}</option>
          {%- endif -%}
        </select>
      </div>
      <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  {% set jahr = "" %}
  {%- for entry in collections.sekundaer -%}
    {% if entry.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = entry.data.Jahr %}
      <div class="category" id="{{ jahr }}">
      <div class="categorytitle" >{{ jahr }}</div>
      <div class="categorybody">
    {% endif %}
    <div class="searchable">{{ entry.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>