---
title: Forschungsbibliographie & Übersetzungen
description: Ein Überblick über die Forschungsliteratur und Übersetzungen zu Leben und Werk des Dichters Jacob Michael Rinhold Lenz.
eleventyNavigation:
  key: Forschungsbibliographie
  parent: Verzeichnisse
  order: 5
---


<div class="border-black px-4 py-3 mb-4 order-2 hyphenation bg-gray-100 w-full">
    <p class="mb-4 max-w-[80ch]">Grundlage für das Verzeichnis sind v. a. die Lenz-Bibliographien von Wolfgang Stammler (1916), David Price Benseler (1971), Takeshi Imamura (1996), die Bibliographien des Lenz-Jahrbuchs 17, 20, 24 und 26 von Nikola Roßbach, Ariane Martin und Constanze Baum sowie die Bibliographie im Lenz-Handbuch (2017). Einbezogen sind auch die MLA International Bibliography und die Bibliographie der deutschen Sprach- und Literaturwissenschaft. Das Verzeichnis wird laufend weiter ausgebaut und überarbeitet. 

    <p class="mb-4 max-w-[80ch]">Nur in Auswahl aufgenommen sind bisher Lenz-Artikel in Literaturgeschichten und Lexika, Beiträge zur produktiven Lenz-Rezeption in der Literatur und auf dem (Musik-)Theater sowie Kritiken zu Theateraufführungen von Lenz’ Stücken.

    <p class="max-w-[80ch]">Hinweise auf neue Lenz-Publikationen werden dankbar aufgenommen; ebenso Ergänzungen und Korrekturen zur älteren Literatur. Das Lenz Archiv Heidelberg arbeitet daran, eine Forschungsbibliothek einzurichten, die möglichst alle hier verzeichneten Titel in Original oder Kopie umfasst. 
</div>


<div class="sticky top-0 z-20">
  <div class="z-10 bg-slate-100 px-4 py-2 self-start w-full">
    <div class="w-full flex flex-row items-baseline">
      <input class="grow p-0.5 my-1 mb-2 border border-slate-300" type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
      <a class="shrink ml-2 px-1.5 py-0.5 border border-slate-400" id="scrollbutton" href="#top">↑&nbsp;nach oben</a>
    </div>
    {% set jahr = "" %}
    {% set count = 1 %}
    <div class="hideifsearching">
      Springe:&nbsp;&nbsp;
      {%- for post in collections.sekundaer -%}
          {% if count % 80 == 0 and jahr !== post.data.Jahr %}
              <a class="underline decoration-dotted" href="#{{ post.data.Jahr }}">{{ post.data.Jahr }}</a>&nbsp;&nbsp;
              {% set jahr = post.data.Jahr %}
          {% endif %}
          {% set count = count + 1 %}
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="mt-4" id="list">
  {% set jahr = "" %}
  {%- for post in collections.sekundaer -%}
    {% if post.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = post.data.Jahr %}
      <div class="flex flex-row w-full category" id="{{ jahr }}">
      <div class="text-xl pr-1 pl-3 py-2 grow-0 min-w-[4rem] font-bold self-start z-0 sticky top-20 order-2" >{{ jahr }}</div>
      <div class="px-4 border-r-2 grow py-2 border-slate-400">
    {% endif %}
    <div class="mb-3 pl-6 -indent-6 max-w-[90ch] searchable">{{ post.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>