---
title: Selbstständige Drucke zu Lebzeiten
description: Verzeichnis zu Lebzeiten veröffentlichter selbstständiger Drucke von Jacob Michael Reinhold Lenz
eleventyNavigation:
  key: Selbstständige Drucke zu Lebzeiten
  parent: Verzeichnisse
  order: 2
  pdf: no
---



<div class="searchbar">
      <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
      <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
      <div class="hideifsearching">
        Jahr&nbsp;
        <select onchange="window.location.href=this.value" id="listselect">
          {% set jahr = "" %}
          {% set count = 0 %}
          {%- for post in collections.selbststaendigedrucke -%}
            {% if count % 1 == 0 and jahr !== post.data.Jahr %}
                <option value="#{{ post.data.Jahr }}">{{ post.data.Jahr }}</option>
                {% set jahr = post.data.Jahr %}
            {% endif %}
            {% set count = count + 1 %}
          {%- endfor -%}
        </select>
      </div>
      <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  {% set jahr = "" %}
  {%- for post in collections.selbststaendigedrucke -%}
    {% if post.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = post.data.Jahr %}
      <div class="category" id="{{ jahr }}">
      <div class="categorytitle" >{{ jahr }}</div>
      <div class="categorybody">
    {% endif %}
    <div class="searchable">{{ post.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>