---
title: Selbstständige Veröffentlichungen zu Lebzeiten
description: Verzeichnis zu Lebzeiten veröffentlichter selbstständiger Drucke des Dichters Jacob Michael Reinhold Lenz
eleventyNavigation:
  key: Selbstständige Drucke zu Lebzeiten
  parent: Verzeichnisse
  order: 2
  pdf: yes
---

<div class="border-black px-4 py-3 mb-4 order-2 hyphenation bg-gray-100 w-full">
    <p class="max-w-[80ch]">Neben den selbständig erschienenen Einzel- und Werkausgaben sind in Auswahl auch Textsammlungen zum Sturm und Drang mit umfangreicheren Lenz-Abteilungen aufgeführt.
</div>

<div class="flex flex-row sticky top-0">
<div class="z-10 border-r-2 border-slate-400 bg-emerald-100 px-4 py-2 self-start w-full">
{% set jahr = "" %}
{% set count = 1 %}
<a href="#top">↑</a>&nbsp;&nbsp;
{%- for post in collections.selbststaendigedrucke -%}
    {% if count % 1 == 0 and jahr !== post.data.Jahr %}
        <a class="underline decoration-dotted" href="#{{ post.data.Jahr }}">{{ post.data.Jahr }}</a>&nbsp;&nbsp;
        {% set jahr = post.data.Jahr %}
    {% endif %}
    {% set count = count + 1 %}
{%- endfor -%}
</div>
<div class="text-xl pl-4 pr-1 grow-0 min-w-[4rem] font-bold order-2"></div>
</div>

<div class="mt-4">
  {% set jahr = "" %}
  {%- for post in collections.selbststaendigedrucke -%}
    {% if post.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = post.data.Jahr %}
      <div class="flex flex-row w-full" id="{{ jahr }}">
      <div class="text-xl pr-1 pl-3 py-2 grow-0 min-w-[4rem] font-bold self-start z-0 sticky top-0 order-2" >{{ jahr }}</div>
      <div class="px-4 border-r-2 grow py-2 border-slate-400">
    {% endif %}
    <div class="mb-3 pl-6 -indent-6 max-w-[90ch]">{{ post.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>