---
title: Theateraufführungen ab 1950
description: Verzeichnis von Theateraufführungen ab 1950 von Jakob Michael Reinhold Lenz
eleventyNavigation:
  key: Theateraufführungen ab 1950
  parent: Verzeichnisse
  order: 7
---

<p class="mb-4 max-w-[80ch]">Deutschland, Österreich, Schweiz. Zusammengetragen von Dr. Judith Schäfer 

<div class="mb-4 hyphenation w-full">
  <img class="ml-4 float-right h-[290px] mb-4" src="/static/theaterauffuehrungen/bild theater.jpg">

    <p class="mb-4 max-w-[80ch]">Berücksichtigt sind nur Inszenierungen von Werken, von denen Lenz im engeren Sinne der Autor ist (also nicht Opernbearbeitungen, biographische Annäherungen, Büchners „Lenz“ etc.). Ergänzungen sind jederzeit willkommen. 
</div>

<div class="searchbar">
      <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
      <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
      <div class="hideifsearching">
        Jahr&nbsp;
        <select onchange="window.location.href=this.value" id="listselect">
          {% set jahr = "" %}
          {% set count = 0 %}
          {%- for post in collections.theater -%}
            {% if count % 1 == 0 and jahr !== post.data.Jahr %}
                <option value="#{{ post.data.Jahr }}">{{ post.data.Jahr }}</option>
                {% set jahr = post.data.Jahr %}
            {% endif %}
            {% set count = count + 1 %}
          {%- endfor -%}
        </select>
      </div>
      <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  {% set jahr = "" %}
  {%- for post in collections.theater -%}
    {% if post.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = post.data.Jahr %}
      <div class="category" id="{{ jahr }}">
      <div class="categorytitle" >{{ jahr }}</div>
      <div class="categorybody">
    {% endif %}
    <div class="searchable">{{ post.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>