---
title: Theateraufführungen ab 1950
description: Verzeichnis von Theateraufführungen ab 1950 von Jacob Michael Reinhold Lenz
eleventyNavigation:
  key: Theateraufführungen ab 1950
  parent: Verzeichnisse
  order: 6
---

<div class="border-black px-4 py-3 mb-4 order-2 hyphenation bg-gray-100 w-full">
    <p class="mb-4 max-w-[80ch]">Deutschland, Österreich, Schweiz. Zusammengetragen von Dr. Judith Schäfer 

    <p class="mb-4 max-w-[80ch]">Berücksichtigt sind nur Inszenierungen von Werken, von denen Lenz im engeren Sinne der Autor ist (also nicht Opernbearbeitungen, biographische Annäherungen, Büchners „Lenz“ etc.). Ergänzungen sind jederzeit willkommen. 
</div>

<div class="sticky top-0 z-20">
  <div class="z-10 bg-slate-100 px-4 py-2 self-start w-full">
    <div class="w-full flex flex-row items-baseline">
      <input class="grow p-0.5 my-1 mb-2 border border-slate-300" type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
      <a class="shrink ml-2 px-1.5 py-0.5 border border-slate-400" id="scrollbutton" href="#top">↑&nbsp;nach oben</a>
    </div>
    {% set jahr = "" %}
    {% set count = 1 %}
    <div class="hideifsearching">
      Springe:&nbsp;&nbsp;
      {%- for post in collections.theater -%}
          {% if count % 1 == 0 and jahr !== post.data.Jahr %}
              <a class="underline decoration-dotted" href="#{{ post.data.Jahr }}">{{ post.data.Jahr }}</a>&nbsp;&nbsp;
              {% set jahr = post.data.Jahr %}
          {% endif %}
          {% set count = count + 1 %}
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="mt-4" id="list">
  {% set jahr = "" %}
  {%- for post in collections.theater -%}
    {% if post.data.Jahr !== jahr %}
      {% if jahr !== "" %}
        </div>
        </div>
      {% endif %}
      {% set jahr = post.data.Jahr %}
      <div class="flex flex-row w-full category" id="{{ jahr }}">
      <div class="text-xl pr-1 pl-3 py-2 grow-0 min-w-[4rem] font-bold self-start z-0 sticky top-20 order-2" >{{ jahr }}</div>
      <div class="px-4 border-r-2 grow py-2 border-slate-400">
    {% endif %}
    <div class="mb-3 pl-6 -indent-6 searchable">{{ post.content | safe }}</div>
  {%- endfor -%}
  </div>
  </div>
</div>