Meta- und Standortdaten
NUMMER: Fortlaufende Nummer eines Bandes. Oft per Bleistift vorne in die Innenseite des Einbands oder auf das Vorsatzblatt des Buches geschrieben. 
STANDORT: Standort des Buches im Format Raumnummer – Regalbuchstabe – Brettnummer

Bearbeitungsdaten:
Evtl. Bearbeitungsvermerk. Alle anderen Daten speichert Zotero automatisch. 

Bibliografische Daten:
AUTOR: Autor des Buches, im Format Nachname, Vorname.
HERAUSGEBER: Herausgeber des Buches.
ÜBERSETZER: Übersetzung
VERLAG: Verlag
JAHR: (Erscheinungs)datum im Format YYYY-MM-DD (ist Zotero aber egal, geht auch DD.MM.YYYY)
ORT: (Erscheinungs)ort
TITEL: Titel des Buches mit angehängtem Jahr.
TITELZUSATZ: Untertitel des Buches 
KURZTITEL: Titel des Buches in Umgangssprache. 

Reihen:
REIHE: Reihentitel, Titel der Buch oder Herausgabereihe.
NUMMER: Nummer des Titels in der Reihe (Bd. 2)
Eigentlich gibt man die Anzahl an Bänden an

SPRACHE: Falls nicht deutschsprachig
AUSGABEBEZEICHNUNG: So wie Reprint, 1. (näher überarbeitete) Auflage, Fotokopie
FORMAT?/MAßE: Buchformat
UMFANG?: Eigentlich Standardfeld bei Bibliotheken

ISBN?
ILLUSTRATIONEN?
SCHRIFT?
ERSCHEINUNGSFREQUENZ: Nein

Spezielle Angaben für die Sammlung:
SAMMLUNG: Über Ordner in Zotero. Ein Eintag kann auch in mehreren Ordnern sein.
ZUSTAND?: Gibt den Zustand eines Exemplars nach einem eigenen Klassifikationssystem an. Nicht mehr genutzt.

Bei nicht-Büchern:
MEDIUM: DVD, Mikrofiche (in Zotero gelöst über Eintragstyp)
DATENTRÄGER?

Bemerkungen:
ALLGEMEINE BEMERKUNG: Anmerkungen zur Erfassung des bibliografischen Eintrags s.a. → Sonderzeichen

SCHLAGWORT: Schlagworte für ein Buch (statt Gattung)
