---
title: Biographische Filme & Werkverfilmungen
description: Verzeichnis biographischer Filme und Werkverfilmungen zu Jakob Michael Reinhold Lenz
eleventyNavigation:
  key: Biographische Filme & Werkverfilmungen
  parent: Verzeichnisse
  order: 9
---

<div class="searchbar">
  <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
  <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
  <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  <div class="category" id="1962-buckwitz-soldaten">
    <div class="categorytitle">1962</div>
    <div class="categorybody">
      <div class="searchable">Harry Buckwitz: <i>Die Soldaten</i></div>
    </div>
  </div>

  <div class="category" id="1971-rautenberg-zerbin">
    <div class="categorytitle">1971</div>
    <div class="categorybody">
      <div class="searchable">Thomas Rautenberg: <i>Zerbin</i></div>
    </div>
  </div>

  <div class="category" id="1971-moorse-lenz">
    <div class="categorytitle">1971</div>
    <div class="categorybody">
      <div class="searchable">George Moorse: <i>Lenz</i></div>
    </div>
  </div>

  <div class="category" id="1971-briel-lenz">
    <div class="categorytitle">1971</div>
    <div class="categorybody">
      <div class="searchable">Jonatan Briel: <i>Jonatan Briels Lenz. Eine deutsche Physiognomik</i></div>
    </div>
  </div>

  <div class="category" id="1976-buckwitz-hofmeister">
    <div class="categorytitle">1976</div>
    <div class="categorybody">
      <div class="searchable">Harry Buckwitz: <i>Der Hofmeister</i></div>
    </div>
  </div>

  <div class="category" id="1978-body-katonak">
    <div class="categorytitle">1978</div>
    <div class="categorybody">
      <div class="searchable">Gábor Bódy: <i>Katonák</i></div>
    </div>
  </div>

  <div class="category" id="1980-de-hert-mendoza">
    <div class="categorytitle">1980</div>
    <div class="categorybody">
      <div class="searchable">Pol de Hert: <i>De nieuwe Mendoza</i></div>
    </div>
  </div>

  <div class="category" id="1982-lodemann-steintal">
    <div class="categorytitle">1982</div>
    <div class="categorybody">
      <div class="searchable">Jürgen Lodemann: <i>Im Steintal. Über Lenz, Büchner, Oberlin, Goethe, Gott und die Germanisten</i></div>
    </div>
  </div>

  <div class="category" id="1982-rockwell-lenz">
    <div class="categorytitle">1982</div>
    <div class="categorybody">
      <div class="searchable">Alexandre Rockwell: <i>Lenz</i></div>
    </div>
  </div>

  <div class="category" id="1987-szirtes-lenz">
    <div class="categorytitle">1987</div>
    <div class="categorybody">
      <div class="searchable">András Szirtes: <i>Lenz</i></div>
    </div>
  </div>

  <div class="category" id="1992-guenther-lenz">
    <div class="categorytitle">1992</div>
    <div class="categorybody">
      <div class="searchable">Egon Günther: <i>Lenz</i></div>
    </div>
  </div>

  <div class="category" id="2003-marchais-lenz-echappe">
    <div class="categorytitle">2003</div>
    <div class="categorybody">
      <div class="searchable">Dominique Marchais: <i>Lenz échappé</i></div>
    </div>
  </div>

  <div class="category" id="2006-imbach-lenz">
    <div class="categorytitle">2006</div>
    <div class="categorybody">
      <div class="searchable">Thomas Imbach: <i>Lenz</i></div>
    </div>
  </div>

  <div class="category" id="2009-morell-lenz">
    <div class="categorytitle">2009</div>
    <div class="categorybody">
      <div class="searchable">Andreas Morell: <i>Lenz</i></div>
    </div>
  </div>

  <div class="category" id="2015-kroetsch-buechner-lenz-leben">
    <div class="categorytitle">2015</div>
    <div class="categorybody">
      <div class="searchable">Isabelle Krötsch: <i>BÜCHNER.LENZ.LEBEN</i></div>
    </div>
  </div>
</div>
