---
title: Lenz als literarische Figur
description: Verzeichnis literarischer Werke, in denen Lenz als Figur erscheint
eleventyNavigation:
  key: Lenz als literarische Figur
  parent: Verzeichnisse
  order: 10
---

<div class="searchbar">
  <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
  <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
  <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  <div class="category" id="1839-buechner-lenz">
    <div class="categorytitle">1839</div>
    <div class="categorybody">
      <div class="searchable">Georg Büchner: <i>Lenz</i> (1839)</div>
    </div>
  </div>

  <div class="category" id="1867-gessler-reinhold-lenz">
    <div class="categorytitle">1867</div>
    <div class="categorybody">
      <div class="searchable">Friedrich Geßler: <i>Reinhold Lenz</i>. Drama in 3 Akten (1867)</div>
    </div>
  </div>

  <div class="category" id="1871-bennecke-reinhold-lenz">
    <div class="categorytitle">1871</div>
    <div class="categorybody">
      <div class="searchable">Wilhelm Bennecke: <i>Reinhold Lenz</i>. Eine Novelle (1871)</div>
    </div>
  </div>

  <div class="category" id="1879-gessler-herr-reinhold">
    <div class="categorytitle">1879</div>
    <div class="categorybody">
      <div class="searchable">Friedrich Geßler: <i>Herr Reinhold</i>. Eine Novelle (1879)</div>
    </div>
  </div>

  <div class="category" id="1912-walser-lenz">
    <div class="categorytitle">1912</div>
    <div class="categorybody">
      <div class="searchable">Robert Walser: <i>Lenz</i> (1912)</div>
    </div>
  </div>

  <div class="category" id="1923-burggraf-weh-um-michael">
    <div class="categorytitle">1923</div>
    <div class="categorybody">
      <div class="searchable">Waldfried Burggraf: <i>Weh um Michael</i> (1923)</div>
    </div>
  </div>

  <div class="category" id="1933-huchel-lenz">
    <div class="categorytitle">1933</div>
    <div class="categorybody">
      <div class="searchable">Peter Huchel: <i>Lenz</i> (1933)</div>
    </div>
  </div>

  <div class="category" id="1963-bobrowski-jrm-lenz">
    <div class="categorytitle">1963</div>
    <div class="categorybody">
      <div class="searchable">Johannes Bobrowski: <i>J. R. M. Lenz</i> (1963)</div>
    </div>
  </div>

  <div class="category" id="1973-schneider-lenz">
    <div class="categorytitle">1973</div>
    <div class="categorybody">
      <div class="searchable">Peter Schneider: <i>Lenz</i>. Eine Erzählung (1973)</div>
    </div>
  </div>

  <div class="category" id="1981-hofmann-rueckkehr">
    <div class="categorytitle">1981</div>
    <div class="categorybody">
      <div class="searchable">Gert Hofmann: <i>Die Rückkehr des verlorenen Jakob Michael Reinhold Lenz nach Riga</i>. Novelle (1981). Neu-Isenburg: Tiessen 1984. [35 S.]</div>
    </div>
  </div>

  <div class="category" id="1985-boetius-verlorene-lenz">
    <div class="categorytitle">1985</div>
    <div class="categorybody">
      <div class="searchable">Henning Boëtius: <i>Der verlorene Lenz. Auf der Suche nach dem inneren Kontinent</i> (1985). Frankfurt am Main: Eichborn 1985. [205 S.]</div>
    </div>
  </div>

  <div class="category" id="1985-beyse-aufklaerungsmacher">
    <div class="categorytitle">1985</div>
    <div class="categorybody">
      <div class="searchable">Jochen Beyse: <i>Der Aufklärungsmacher</i>. Novelle (1985). München: List 1985. [129 S.]</div>
    </div>
  </div>

  <div class="category" id="1992-goerner-lenz">
    <div class="categorytitle">1992</div>
    <div class="categorybody">
      <div class="searchable">Rüdiger Görner: <i>Lenz. Eine Verstörung</i> (1992).</div>
    </div>
  </div>

  <div class="category" id="1994-ebersbach-fuenf-etuenden">
    <div class="categorytitle">1994</div>
    <div class="categorybody">
      <div class="searchable">Volker Ebersbach: <i>Fünf Etüden über eine Eseley – Goethe und Lenz</i>. Eine Erzählung (1994). Winsen/Luhe; Weimar: Boldt Literaturverlag 1994. [20 S.]</div>
    </div>
  </div>

  <div class="category" id="1999-schultz-goethes-mord">
    <div class="categorytitle">1999</div>
    <div class="categorybody">
      <div class="searchable">Hugo Schultz: <i>Goethes Mord: der Seelenmord an J. M. R. Lenz</i>. Roman (1999). Eggingen: Edition Isele 1999. [441 S.]</div>
    </div>
  </div>

  <div class="category" id="2000-schultz-bruder-lenz">
    <div class="categorytitle">2000</div>
    <div class="categorybody">
      <div class="searchable">Hugo Schultz: <i>Bruder Lenz. Georg Büchner und die Leiden des jungen J. M. R. Lenz</i> (2000). Eggingen: Edition Isele 2000. [206 S.]</div>
    </div>
  </div>

  <div class="category" id="2002-buhl-roter-domino">
    <div class="categorytitle">2002</div>
    <div class="categorybody">
      <div class="searchable">Marc Buhl: <i>Der rote Domino</i>. Roman (2002). Frankfurt am Main: Frankfurter Verlagsanstalt 2002. [280 S.]</div>
    </div>
  </div>

  <div class="category" id="2010-gericke-lenz-fragmente">
    <div class="categorytitle">2010</div>
    <div class="categorybody">
      <div class="searchable">Katharina Gericke: <i>Lenz. Fragmente</i> (2010).</div>
    </div>
  </div>

  <div class="category" id="2012-habsburg-lena-waldersbach">
    <div class="categorytitle">2012</div>
    <div class="categorybody">
      <div class="searchable">Eduard Habsburg: <i>Lena in Waldersbach</i>. Eine Erzählung (2012).</div>
    </div>
  </div>

  <div class="category" id="2015-ostermaier-lenz-libanon">
    <div class="categorytitle">2015</div>
    <div class="categorybody">
      <div class="searchable">Albert Ostermaier: <i>Lenz im Libanon</i>. Roman (2015). Berlin: Suhrkamp 2015. [190 S.]</div>
    </div>
  </div>

  <div class="category" id="2016-schaerf-reise-des-zeichners">
    <div class="categorytitle">2016</div>
    <div class="categorybody">
      <div class="searchable">Christian Schärf: <i>Die Reise des Zeichners</i>. Roman (2016). Köln: Eichborn 2016. [300 S.]</div>
    </div>
  </div>

  <div class="category" id="2017-jurjew-unbekannte-briefe">
    <div class="categorytitle">2017</div>
    <div class="categorybody">
      <div class="searchable">Oleg Jurjew: <i>Unbekannte Briefe</i>. Roman (2017). Hamburg: Atlantik 2017. [582 S.]</div>
    </div>
  </div>
</div>
