---
title: Musiktheater & Vertonungen
description: Verzeichnis von Musiktheater und Vertonungen zu Jakob Michael Reinhold Lenz
eleventyNavigation:
  key: Musiktheater & Vertonungen
  parent: Verzeichnisse
  order: 8
---

<p class="mb-4 max-w-[80ch]">Berücksichtigt sind nur Werke, von denen Lenz im engeren Sinne der Urheber ist (also nicht rein biographische Annäherungen, Büchners „Lenz“ etc.). Ergänzungen sind jederzeit willkommen.</p>

<div class="searchbar">
  <input type="text" name="keyword" class="form-control input-sm" placeholder="Liste durchsuchen...">
  <button class="showifsearching" onclick="searchreset();" alt="Clear the search form">Zurücksetzen</button>
  <button id="scrollbutton" href="#top">↑&nbsp;hoch</button>
</div>

<div class="yearlist" id="list">
  <div class="category" id="1778-schonfeld">
    <div class="categorytitle">1778</div>
    <div class="categorybody">
      <div class="searchable">Johann Philipp Schönfeld: „Göttin Freude“, Schlussarie aus Lenz’ „Die beyden Alten“. In: J. Ph. Schönfeld: <i>Lieder aus der Iris und eine Arie mit Begleitung einer Violine; zum Singen beym Claviere</i> (1778).</div>
    </div>
  </div>

  <div class="category" id="1778-kayser">
    <div class="categorytitle">1778</div>
    <div class="categorybody">
      <div class="searchable">Philipp Christoph Kayser: <i>Der Liebhaber</i> („Die Todeswunde…“) und <i>Nachschlag</i> („Sanfte [Stille] Freuden…“), zwei Lenz-Lieder, in: Goethes Notenheft von 1778 (Nr. 27, 29), Weimar: Goethe- und Schiller-Archiv 32/1477, pag. 49 u. 51.</div>
    </div>
  </div>

  <div class="category" id="1929-1930-gurlitt">
    <div class="categorytitle">1929/1930</div>
    <div class="categorybody">
      <div class="searchable">Manfred Gurlitt: <i>Soldaten</i>. Tragische Oper in 3 Akten (1929/1930).</div>
    </div>
  </div>

  <div class="category" id="1950-dessau">
    <div class="categorytitle">1950</div>
    <div class="categorybody">
      <div class="searchable">Paul Dessau: Zwei Lieder („Wo bist du itzt“; „Herz, kleines Ding, uns zu quälen“) für Gesang und Klavier (1950).</div>
    </div>
  </div>

  <div class="category" id="1965-zimmermann">
    <div class="categorytitle">1965</div>
    <div class="categorybody">
      <div class="searchable">Bernd Alois Zimmermann: <i>Die Soldaten</i>. Oper in vier Akten. Uraufführung: 15. Februar 1965, Oper Köln.</div>
    </div>
  </div>

  <div class="category" id="1977-goldmann">
    <div class="categorytitle">1977</div>
    <div class="categorybody">
      <div class="searchable">Friedrich Goldmann: <i>R. Hot bzw. Die Hitze</i>. Opernphantasie in über hundert Posen (Libretto: Thomas Körner nach „Der Engländer“ von Jakob Michael Reinhold Lenz). Uraufführung: 1977 im Staatsoper Unter den Linden.</div>
    </div>
  </div>

  <div class="category" id="1979-rihm-jakob-lenz">
    <div class="categorytitle">1979</div>
    <div class="categorybody">
      <div class="searchable">Wolfgang Rihm: <i>Jakob Lenz</i>. Kammeroper in dreizehn Bildern mit einem Libretto von Michael Fröhling. Uraufführung: 8. März 1979, Hamburgische Staatsoper. [„Ach, bist du fort?“, „Ach rausche, rausche … nicht lallendes Kind mehr“ (Nachtschwärmerei), „Hasch ihn, Muse … Deutschlands Freude und Lieflands Stolz“ (Über die deutsche Dichtkunst), „Ich weiß nichts von Angst und Sorgen … Dem hab’ ich mich übergeben“ (Das Vertrauen auf Gott), „O du mit keinem Wort zu nennen“ (Hymne), „O Geist, Geist! der du in mir lebst“ (An den Geist), „Oft fühl’ ichs um Mitternacht“ (Ausfluss des Herzens), „Von nun an die Sonne in Trauer“ (Der verlorne Augenblick), „Was fang ich an? was räthst du Liebe mir?“ (Ein Versuch über die neunte Canzonetta Petrarchs, Nr. 2), „Welch eine schöne Kunst … Wer sähe nicht die nackte Wahrheit lieber“ (Der neue Amadis), „Willkommen kleine Bürgerin“, „Wo, du Reuter, meinst du hin?“ (Freundin aus der Wolke)].</div>
    </div>
  </div>

  <div class="category" id="1979-biermann">
    <div class="categorytitle">1979</div>
    <div class="categorybody">
      <div class="searchable">Wolf Biermann: „Willkommen, kleine Bürgerin“. In: <i>Hälfte des Lebens</i> (1979).</div>
    </div>
  </div>

  <div class="category" id="1980-rihm-fragmente">
    <div class="categorytitle">1980</div>
    <div class="categorybody">
      <div class="searchable">Wolfgang Rihm: <i>Lenz-Fragmente</i> – 5 Gedichte für Gesang und Orchester (1980).</div>
    </div>
  </div>

  <div class="category" id="1983-bredemeyer">
    <div class="categorytitle">1983</div>
    <div class="categorybody">
      <div class="searchable">Reiner Bredemeyer: <i>Abschied von Kochberg</i>, Liederzyklus für Tenor und Klavier, Nr. 2: „Seele der Welt“ (An die Sonne), Nr. 4: „Fühl alle Lust“. In: <i>Gedanken</i>. Gedichte für Singstimme und Klavier (1983).</div>
    </div>
  </div>

  <div class="category" id="1990-reverdy">
    <div class="categorytitle">1990</div>
    <div class="categorybody">
      <div class="searchable">Michèle Reverdy: <i>Le Précepteur</i>. Oper (1990).</div>
    </div>
  </div>

  <div class="category" id="1993-hoelszky">
    <div class="categorytitle">1993</div>
    <div class="categorybody">
      <div class="searchable">Adriana Hölszky: <i>Gemälde eines Erschlagenen</i> für 72 Vokalisten. Chorstück a cappella (1993).</div>
    </div>
  </div>

  <div class="category" id="2005-kampe">
    <div class="categorytitle">2005</div>
    <div class="categorybody">
      <div class="searchable">Gordon Kampe: <i>Mondstrahl</i>. Kammeroper (2005) [„Urania“].</div>
    </div>
  </div>
</div>
