---
title: Kritische Briefausgabe
description: Editionsvorhaben einer kritischen Briefausgabe der Briefe von Jakob Lenz 
eleventyNavigation:
  key: Kritische Briefausgabe
  parent: Edition
  order: 2
  status: Laufend 
---

<div class="maincolumn">
<img class="mx-4 h-[380px] sm:float-right mb-4" src="/static/edition/bild_briefe.jpg">
<p>Ediert werden sämtliche Briefe an und von Lenz als durchsuchbarer Volltext. Die bisherigen Briefausgaben – von Freye/Stammler (1918) sowie von Damm (1987) – reflektieren nicht den aktuellen Stand der Forschung; verloren geglaubte Manuskripte sind wieder aufgetaucht ebenso wie vorher gänzlich unbekannte Briefe.

<p>Die Briefe von und an Lenz sollen auf dieser Internetpräsenz erstmals vollständig sowie ohne
stillschweigende Eingriffe, Vereinheitlichungen oder Kürzungen dargeboten werden, indem die Edition
jeweils direkt das Manuskript oder die primäre Drucküberlieferung heranzieht. Aufgenommen werden nur
tatsächliche Briefe, also keine Stammbucheinträge oder ähnliches. Die Topographie wird durch
Hinweise annähernd beschrieben; Grundlage ist jeweils die materiale Basis, sodass auch z.B.
poetische Entwürfe, die sich auf Briefmanuskripten finden, mit dargestellt werden. Zur Materialität
gibt das <a href="https://lenz-archiv.de/verzeichnisse/handschriften/">Handschriftenverzeichnis des
Lenz Archivs Heidelberg &rarr;</a> detailliert Auskunft.

<p>Die Briefausgabe wird in Tranchen publiziert: zunächst die Briefe bis 1775, dann die aus dem Jahr 1776, zuletzt die Briefe von 1777 bis 1792. Perspektivisch sollen die Briefe auch kommentiert werden.
</div>
