<!DOCTYPE html>
<html lang="de" dir="ltr" class="h-full">
  <head>
    <title>
      {% if title and title != 'Home' %}{{title}} - {% endif %}{{ config.title }}</title>


    <!-- Meta -->
    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{{ config.keywords }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">

    <!-- Resources -->
    <!-- Enable if favicons installed into the static/img/ directory -->
    {# <link rel="shortcut icon" type="image/png" href="/images/x16-favicon.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/images/x32-favicon.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/images/x64-favicon.png" sizes="64x64" />#}
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    <link rel="apple-touch-icon" type="image/png" href="/static/favicon.png"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.mark.min.js"></script>
    <link rel="stylesheet" href="/static/css/output.css" >


    <!-- Facebook -->
    <meta property="og:title" content="{% if (title != 'Home') %}{{title}} - {% endif %}{{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta property="og:url" content="{{ config.url }}{{ page.url }}">
    <meta property="og:image" content="{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

    <!-- Twitter -->
    <meta name="twitter:card" content="{{ card }}">
    <meta name="twitter:site" content="{{ twitter }}">
    <meta name="twitter:title" content="{% if (title != 'Home') %}{{title}} - {% endif %}{{ config.title }}">
    <meta name="twitter:description" content="{% if description %}{{ description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="twitter:creator" content="{{ twitter }}">
    <meta name="twitter:image" content="{{ config.url }}{{ page.url }}">
    <meta name="twitter:domain" content="{% if image %}{{ image }}{% else %}{{ config.image }}{% endif %}">

  </head>
  <body class="bg-slate-50 mx-auto flex flex-col
      xl:px-12 desktop:max-w-screen-2xl desktop:flex-row">
    <aside class="flex flex-col shrink py-4 px-3 w-full
      desktop:px-0 desktop:py-0 desktop:w-auto
      desktop:shrink-0 desktop:grow-0 desktop:basis-[26rem] desktop:sticky desktop:top-0 desktop:max-h-screen desktop:min-h-screen  desktop:bg-slate-50">
      {% include "bar.njk" %}
    </aside>

    <main class="px-4 xl:px-8 desktop:pt-[7.5rem] pt-6 min-h-full max-w-[1120px] ">
      <div>
        <h2>
          {{ title | safe }}
        </h2>
        {{ content | safe }}
      </div>
    </main>

    <script src="/static/js/scripts.js" defer></script>
  </body>
</html>